@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

.login-signup{
}

.index{

}

.login-signup-body{
  background: linear-gradient(to right, #9C27B0, #5c27b0, rgb(66, 34, 209));

}

*{
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* font-size: 28px; */
  /* font-weight: 600; */
	box-sizing: border-box;
	list-style: none;
  text-decoration: none;
  list-style-type: none;
  cursor: default;
  cursor: default;
  padding: 0 0 0 0 ;
  margin: 0 0 0 0;

}


body::-webkit-scrollbar {
    width: 15px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #0c040f;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(61, 61, 61);
  outline: 1px solid rgb(114, 114, 114);
}


    /*navbar*/    

    .navbarsfd {
      background-color: #0c040f;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      padding: 0 20px 0 20px;
  }
  
  .navbarsfd ul{
      display: flex;
      justify-content: center;
      text-align: center;

  }
 
  .navbarsfd li {
      padding: 20px 40px  ;
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
  }
  
  .navbarsfd li:hover {
    /* background-image: url('https://scottyzen.sirv.com/Images/v/button.png'); */
    background-size: 100% 100%;
    color: #ffffff;
    animation: spring 500ms ease-out;
    text-shadow: 0 -1px -3px #180202;
      font-weight: bolder;
  }
  .navbarsfd li:active {
    transform: translateY(4px);
  }
  
  @keyframes spring {
    15% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.2, 1.1);
    }
    40% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(0.95, 0.95);
    }
    75% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05, 1);
    }
    100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
    }
  }
 

.hero-image{
  /* position: absolute; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  height: 300px;
}

.hero_text
{
  padding-top: 70px;
  text-align: center;
  font-weight: 900;
}
.main{
 /* margin-top: 10px ; */
 /* margin-left: 100px ;
 margin-right: 100px; */
}

.dashboard{
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
}

.table {
  color:white;
}


/* login css */
/*body*/

.splitter {
  cursor: default;
  margin: 0 0 0 0;
  text-decoration: none;
  color: whitesmoke;

}

.cards {
  height: 860px;
  margin: 0px auto 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.sign-in {
  align-items: center;
  background-color: #FFFFFF;
  width: 700px;
  height: 700px;
  margin: 7em ;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign-up {

  background-color: #FFFFFF;
  width: 700px;
  height: 700px;
  margin: 7em ;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.sign-label {
  padding-top: 40px;
  color: #9C27B0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.label {
  /* padding-top: 40px; */
  color: #4b2361;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
  padding-bottom: 5px;
  margin-left: 0;
}


.un {
  cursor: text;
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.signinform {
  padding-top: 20px;
  text-align: center;
  display: block;

}
form.signupform {
  padding-top: 20px;
  text-align: center;
  
}
 
.un:focus {
  border: 3px solid rgba(139, 15, 196, 0.603) !important;        
}

.submit {
  align-self: center;
cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #7c1a8d;
  padding-top: 20px;
  text-decoration: none;
  font-weight: 500;
}











body
{
  background-color:#f2f2f2;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

/* p
{
  font-size:12px;
} */

.allcards{
  /* display: inline-block; */
  padding-top: 10px;
}
.center
{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

/* End Non-Essential  */

.property-card
{
  margin-left: 10px;
  margin-right: 10px;
  height:18em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;

}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Social Icons */



/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}


/* Optional

.property-image-title
{
text-align:center;
position:Relative;
top:30%;
opacity:0;
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
color:black;
font-size:1.2em;
}

.property-card:hover .property-image-title
{
opacity:1;
}

*/

@media screen and (max-width: 700px) { 
  .plnircard{
    float:none;
  }
 }

@media screen and (max-width: 400px) {

}  

@media (max-width: 600px) {

  .cards {
      float: left;
      display: block;
      }
}     


/*convert to custom css*/
footer{
  bottom:0px
  }
  
  
