@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin: 0 0 2000px; /*bottom = footer height*/

}

body {
  /* margin: 0 0 2000px; bottom = footer height */
  line-height: 1.5rem;

}
*{
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* font-size: 28px; */
  /* font-weight: 600; */
	box-sizing: border-box;
	list-style: none;
  text-decoration: none;
  list-style-type: none;

  padding: 0 0 0 0 ;
  margin: 0 0 0 0;
  cursor: default;
  
}


body::-webkit-scrollbar {
    width: 15px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #0c040f;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(61, 61, 61);
  outline: 1px solid rgb(114, 114, 114);
}


    /*navbar*/    

    .navbarsfd {
      background-color: #0c040f;
      width: 100%;
      height: 60px;
   

  }
  
  .navbarsfd ul{
      display: flex;
      justify-content: center;
      text-align: center;

  }
 
  .navbarsfd li {
      padding: 20px 40px  ;
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
  }
  
  .navbarsfd li:hover {
    /* background-image: url('https://scottyzen.sirv.com/Images/v/button.png'); */
    background-size: 100% 100%;
    color: #ffffff;
    animation: spring 500ms ease-out;
    text-shadow: 0 -1px -3px #180202;
      font-weight: bolder;
  }
  .navbarsfd li:active {
    transform: translateY(4px);
  }
  
  @keyframes spring {
    15% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.2, 1.1);
    }
    40% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(0.95, 0.95);
    }
    75% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05, 1);
    }
    100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
    }
  }
 

.hero-image{
  /* position: absolute; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  height: 250px;
}

.hero_text
{
  padding-top: 40px;
  text-align: center;
  font-weight: 900;
}
.main{
 /* margin-top: 10px ; */
 /* margin-left: 100px ;
 margin-right: 100px; */
}

.dashboard{
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
}

.table {
  color:white;
}

.bitecards{
  /* background-position: center; */
  /* margin: 10px 0px; */
  font-family:'Roboto Mono'; 
   margin: 0 auto;
   display: block;
  justify-content: center;
  
  }

.plnircard{
  grid-auto-rows: auto;
  display: grid;
  /* word-wrap: break-word; */
  grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
  position: relative;
  grid-template-rows: 15px 300px;
  grid-template-areas: "cardbody ""heading" "content";
  border-radius: 15px;
  color: #fcfcfc;
  background: rgb(32, 29, 29);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1) !important;
  cursor: pointer;
  margin:20px;
  text-align: center;
}

.plnircard:hover {
  /* transition:all 300ms linear; */
  transform: scale(1.05) !important;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.card_heading{
  grid-area: heading;
}

.card_heading h2 {
  align-items: center;
  font-size:20px;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
}

.card_body{
  grid-area: cardbody;
  margin: 10px 0px;
}

.card-content {
 /* color: grey/; */
  font-size:15px;
  font-weight: 300;
}

footer{
bottom:0px
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
 @media screen and (max-width: 700px) { 
  /* #plnirsidebar {
    top:60px;
    left:0px;
    position: fixed;
    left: -10000px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
  } */

  /* #plnirsidebar li {
    text-align: center ;
    padding:20px 50px;
    color:#fcfcfc;
    text-transform:uppercase;
    font-size:15px;

    border-bottom:0cm;
    border-left: 1px solid #f0f0f09a;
  } */


  .plnircard{
    float:none;
  }

  .main{
    margin-left: 0px !important;
    margin-right: 0px !important;


  }

  .main.active{

  }

  /* #plnirsidebar.active {
    left: 0px;
  }   */
  /* .body_wrapper{
    margin-left: 20px;
  } */
/* 
  .boxes{
    display: grid;
  } */
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {

}  



body
{
  background-color:#f2f2f2;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:12px;
}

.allcards{
  /* display: inline-block; */
  padding-top: 10px;
}
.center
{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

/* End Non-Essential  */

.property-card
{
  margin-left: 10px;
  margin-right: 10px;
  height:18em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;

}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Social Icons */



/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}


/* Optional

.property-image-title
{
text-align:center;
position:Relative;
top:30%;
opacity:0;
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
color:black;
font-size:1.2em;
}

.property-card:hover .property-image-title
{
opacity:1;
}

*/