<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="C:\Users\Sprid\Documents\GitHub\Budgeter-Web-App\Budgeter\budgeter-users-service\src\main\resources\static\css\style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="C:/Users/Sprid/Desktop/Code Related/fontawesome-free-5.15.1-web/css/font-awesome.min.css">
  <title>Budgeter Sign in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Sign in</p>
    <form class="form1">
      <input class="un " type="text" align="center" placeholder="Username">
      <input class="pass" type="password" align="center" placeholder="Password">
      <a class="submit" align="center">Sign in</a>
      <p class="forgot" align="center"><a href="#">Forgot Password?</p>
            
                
    </div>
     
</body>

</html>